DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
NODE_ENV=development
NEXT_PUBLIC_SITE_URL=http://localhost:3000
AUTH_MAIL=dev@mail.com
AUTH_PASS=Pass@123
NEXT_PUBLIC_VAPID_PUBLIC_KEY=public-key
VAPID_PRIVATE_KEY=privat-key

OPEN_ROUTER_API_KEY=api-key